@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
.bod{
  text-align: center;
  padding: 50px;
  margin: auto;
  background-image: linear-gradient(35deg, darkred, #230082);
  h1{
    color: red;
  }
  min-height: 100vh;
  background-color: #01092f;
}
.welcome{
  font-size: 40pt;
  font-family: 'Metal Mania', cursive;
  color: #fa3e3e;
}
